[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JordiChauzi
[access "refs/for/refs/*"]
	read = group user/JordiChauzi
	push = group user/JordiChauzi
	label-Code-Review = -2..+2 group user/JordiChauzi
	label-Verified = -1..+1 group user/JordiChauzi
	rebase = group user/JordiChauzi
	removeReviewer = group user/JordiChauzi
	submit = group user/JordiChauzi
[access "refs/heads/*"]
	read = group user/JordiChauzi
	create = group user/JordiChauzi
	push = +force group user/JordiChauzi
	pushMerge = group user/JordiChauzi
[access "refs/tags/*"]
	push = group user/JordiChauzi
	push = +force group user/JordiChauzi
